/* stili generali di pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* stili dell'header */
header {
  background-color: #4ea0ff;
  background-image: url('../img/pattern.png');
  background-size: 400px;
  height: 100px;
}

#logo {
  width: 280px;
  margin-top: 30px;
}

/* stili prima sezione */
section h1 {
  font-size: 40px;
  margin-top: 20px;
  line-height: 40px;
}

section h4, h6 {
  color: rgb(85, 85, 85);
}

.author-name {
  color: rgb(38, 201, 234);
}

section img {
  margin-top: 20px;
}

.first-description, .second-description {
  font-size: 10px;
  font-weight: bold;
}

/* stili seconda sezione */
p {
  margin-top: 20px;
}

.bold-yellow {
  background-color: yellow;
}

ul {
  margin-top: 30px;
  margin-left: 18px;
}

/* stili terza sezione */
table {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-spacing: 0;
  text-align: left;
}

thead {
  color: white;
}

.header-table {
  background-color: blue;
}

.text {
  width: 50%;
}

.odd {
  background-color: aquamarine;
}

/* stili footer */
.title-footer {
  font-size: 15px;
  font-weight: bold;
  color:  rgb(85, 85, 85);
  margin-top: 20px;
  margin-bottom: 10px;
}

.first-image {
  position: relative;
}

#monitor {
  width: 200px;
}

#graph {
  width: 200px;
}

.first-image::before {
  content: "Lorem ipsum dolor";
  color: white;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}